/simple-prevalences.png
/simple-prevalences.svg
/simple-nocon-corner.svg
/simple-both-corner.svg
/extended-connection12-low-prevalences.svg
/extended-connection12-high-prevalences.svg
/extended-add35-prevalences.svg
/extended-add45-prevalences.svg
/extended-conn12-high-prevalences.svg
/extended-add27-prevalences.svg
