/HMM_BN_risk_comparison.svg
/HMM_evo_matrix.svg
/HMM_evolution.svg
/HMM_risk_increaseP.svg
/corner_HMM.svg
/multi_length_risk.svg
/rate_decay_theory_vs_sampled.svg
/simple_rate_decay.svg
/simultaneous_learnedP.svg
/simultaneous_risk.svg
/transition_matrix.svg
