/bilateral-v2-prevalences.hdf5
/midline-with-mixing-v2-prevalences.hdf5
/midline-without-mixing-v2-prevalences.hdf5
/ipsi-comp.png
/ipsi-comp.svg
/ipsi-comp.pdf
/ipsi-comp.pdf_tex
/contra-comp.svg
/contra-comp.png
/contra-comp.pdf
/contra-comp.pdf_tex
/accuracies.csv
/bilateral-v2-accuracies.csv
/midline-with-mixing-v2-accuracies.csv
/midline-without-mixing-v2-accuracies.csv
/test.svg
/test.png
/thermo_int.svg
/thermo_int.png
/thermo_int.pdf
/thermo_int.pdf_tex
