/bilateral-v3-prevalences.hdf5
/midline-with-mixing-v3-prevalences.hdf5
/midline-without-mixing-v3-prevalences.hdf5
/ipsi-comp.png
/ipsi-comp.svg
/contra-comp.svg
/contra-comp.png
/accuracies.csv
/bilateral-v3-accuracies.csv
/midline-with-mixing-v3-accuracies.csv
/midline-without-mixing-v3-accuracies.csv
/test.svg
/test.png
/thermo_int.svg
/thermo_int.png
