/midline-without-mixing-v3-accuracies.csv
/midline-with-mixing-v3-prevalences.hdf5
/bilateral-v3-accuracies.csv
/midline-without-mixing-v3-prevalences.hdf5
/midline-with-mixing-v3-accuracies.csv
/bilateral-v3-prevalences.hdf5
/midline-with-mixing-v3-risks.hdf5
