/midline-without-mixing-v2-accuracies.csv
/midline-with-mixing-v2-prevalences.hdf5
/bilateral-v2-accuracies.csv
/midline-without-mixing-v2-prevalences.hdf5
/midline-with-mixing-v2-accuracies.csv
/bilateral-v2-prevalences.hdf5
